body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  width: 60px;
  position: relative;
  top: 15px;
  margin-left: 10px;
  float: left;
}


.logotext {
  position: relative;
  top: 15px;
  font-size: 25pt;
  font-weight: bold;
  margin-left: 10px;
  float: left;
  color: #3c4652;
  margin-top: 10px;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(221, 100, 56);
  padding: 10px 20px;
  width: 100%;
  height: 50px;
}

.header .logo {
  font-size: 2.0rem;
  font-weight: bold;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
  font-weight: bold;
}

.signinText {
  top: 15px;
  font-size: 14pt;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 20px;
  color:black;
}
.signinText:hover{
  color: #00bcd4
}

.navbar a:hover {
  color: #00bcd4;
}

.hero {
  background-image: url('ai-generated-8266786_1280.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
  width: 100%;
  height: 300px;

}

.hero-content h1 {
  font-size: 3.5rem;
  margin: 0;
  margin-top: 10px;


}

.features {
  padding: 50px 20px;
  text-align: center;
  background-color: #f4f4f4;
  width: 100%;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.feature-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-item {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.testimonials {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
  width: 100%;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.quotes blockquote {
  font-style: italic;
  margin: 20px auto;
  max-width: 600px;
}


.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer .contact-details,
.footer .social-media,
.footer-nav {
  margin-bottom: 10px;
}

.footer a {
  color: #00bcd4;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: white;
}

#popup {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.25);
  position: fixed;
  z-index: 999;
  display: none;
}

#popupWindow {
  width: 300px;
  height: 500px;
  position: relative;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

#popupHeader {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: rgb(208, 77, 20);
  color: white;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#signin {
  width: calc(100% - 10px);
  height: calc(100% - 60px);
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

#signin .usernameLabel {
  display: block;
  padding: 40px 0px 3px 0px;
}

input {
  width: calc(100% - 5px);
  height: 30px;
  border: 1px solid silver;
  border-radius: 3px;
}

#signin .passwordLabel {
  display: block;
  padding: 10px 0px 3px 0px;
}

#signin .forgotpassword {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: right;
}

#signin .forgotpassword label {
  color: rgb(208, 77, 20);
  cursor: pointer;
}

#signin .signinButton {
  width: 100%;
  height: 35px;
  background: rgb(208, 77, 20);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

#signin .signinButton:hover {
  background: rgb(208, 77, 20);
}

#signin .div1 {
  width: 100%;
  height: 80px;
}

#signin .div2 {
  width: 100%;
  font-size: 7pt;
  color: gray;
  text-align: center;
}

#signin .div2 label {
  display: block;
  font-size: 9pt;
  font-weight: bold;
  color: rgb(208, 77, 20);
  padding-top: 5px;
  cursor: pointer;

}

#signin .div2 label:hover {
  color: rgb(13, 150, 104);
}
#signinlibrarian {
  width: calc(100% - 10px);
  height: calc(100% - 60px);
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

#signinlibrarian .usernameLabel {
  display: block;
  padding: 40px 0px 3px 0px;
}

#signinlibrarian input {
  width: calc(100% - 5px);
  height: 30px;
  border: 1px solid silver;
  border-radius: 3px;
}

#signinlibrarian .passwordLabel {
  display: block;
  padding: 10px 0px 3px 0px;
}

#signinlibrarian .forgotpassword {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: right;
}

#signinlibrarian .forgotpassword label {
  color: rgb(208, 77, 20);
  cursor: pointer;
}

#signinlibrarian .signinButton {
  width: 100%;
  height: 35px;
  background: rgb(208, 77, 20);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

#signinlibrarian .signinButton:hover {
  background: rgb(208, 77, 20);
}

#signinlibrarian .div1 {
  width: 100%;
  height: 80px;
}

#signinlibrarian .div2 {
  width: 100%;
  font-size: 7pt;
  color: gray;
  text-align: center;
}

#signinlibrarian .div2 label {
  display: block;
  font-size: 9pt;
  font-weight: bold;
  color: rgb(208, 77, 20);
  padding-top: 5px;
  cursor: pointer;
}

#signinlibrarian .div2 label:hover {
  color: rgb(13, 150, 104);
}

#signup {
  width: calc(100% - 10px);
  height: calc(100% - 60px);
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

#signup label {
  display: block;
  padding: 10px 0px 3px 0px;
}
#signup button {
  width: 100%;
  height: 35px;
  background: rgb(208, 77, 20);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;

}

#signup button:hover {
  background: rgb(13, 150, 104);
}

#signup div {
  width: 100%;
  font-size: 7pt;
  color: gray;
  margin-top: 15px;
}

#signup div span {
  color: rgb(208, 77, 20);
  font-size: 9pt;
  font-weight: bold;
  cursor: pointer;
}

#signup div span:hover {
  color: rgb(13, 150, 104);
}